---
layout: default
---

<section>
    <article itemscope itemtype="https://schema.org/Person">
        <meta itemprop="url" content="https://juliakloiber.com" />
        <h1 id="about">About</h1>

        <p><img itemprop="image" class="picture right" src="/img/about/Julia_superrr4.jpg"></p>

        <p>
            <span itemprop="name"><span itemprop="givenName">Julia</span> <span
                    itemprop="familyName">Kloiber</span></span> is the <span itemprop="jobTitle">Co-Founder of the feminist organization <a
                    itemprop="worksFor" itemscope itemtype="https://schema.org/Organization"
                    href="http://superrr.net/lab/">
                    <meta itemprop="url" content="http://superrr.net/lab/" />
                    <meta itemprop="founder" content="Julia Kloiber" />
                    <meta itemprop="founder" content="Elisa Lindinger" />
                    <meta itemprop="foundingDate" content="2019" />
                    <span itemprop="name">Superrr Lab</span></a></span>, a research and advocacy organization.
            Her work focuses on shaping digital strategies and concepts that put societal benefit and fairness at the center.
        </p>

        <p>
            With a background in technology, design, and media studies, Julia has worked with international organizations such as the
            <a itemprop="alumniOf" itemscope itemtype="https://schema.org/Organization"
               href="https://www.mozilla.org/en-US/foundation/">
                <meta itemprop="url" content="https://www.mozilla.org/en-US/foundation/" />
                <span itemprop="name">Mozilla Foundation</span></a>,
            the <a itemprop="alumniOf" itemscope itemtype="https://schema.org/Organization" href="https://okfn.de/">
                <span itemprop="name">Open Knowledge Foundation</span></a>,
            and <a itemprop="alumniOf" itemscope itemtype="https://schema.org/Organization"
                href="https://www.theengineroom.org/">
                <meta itemprop="url" content="https://www.theengineroom.org/">
                <span itemprop="name">The Engine Room</span></a>.
            She has led and supported numerous projects that promote transparency and the reuse of open data, including
            Germany’s first civic tech incubator, <a href="http://stadtlandcode.de/">Stadt Land Code</a>.
            Julia regularly speaks at international conferences such as TED, the Personal Democracy Forum, and the World Design Conference,
            and advises governments and nonprofits on digital strategy and transformation.
        </p>

        <p itemprop="alumniOf" itemscope itemtype="https://schema.org/Organization">
            <meta itemprop="founder" content="Julia Kloiber" />
            In <span itemprop="foundingDate">2014</span> she co-founded <span itemprop="name">Code for Germany</span>
            and helped grow it into <span itemprop="description">
                a nationwide network of more than 1,000 civic tech volunteers across 25 cities in Germany
            </span>.
            She also played a key role in building <a href="https://codeforall.org">Code for All</a>, the global
            network of Code-for organizations with partners on six continents.
        </p>

        <p itemprop="alumniOf" itemscope itemtype="https://schema.org/Organization">
            <meta itemprop="founder" content="Julia Kloiber" />
            <meta itemprop="founder" content="Cosmin Cabulea" />
            In <span itemprop="foundingDate">2016</span> Julia co-founded <span itemprop="description">Germany's first
                public funding program dedicated to open-source software projects</span>:
            the <a itemprop="url" href="https://prototypefund.de"><span itemprop="name">Prototype Fund</span></a>.
            Since its launch, the fund has received hundreds of applications and supports open-source initiatives
            across Germany with more than €14 million in funding.
        </p>

        <p>
            She serves on the advisory board of the
            <a itemprop="affiliation" itemscope itemtype="https://schema.org/Organization"
               href="https://www.postcode-lotterie.de">
                <meta itemprop="url" content="https://www.postcode-lotterie.de" />
                <span itemprop="name">German Postcode Lotterie</span></a>, is a member of the Fachbeirat at
            <a href="https://www.deutsche-stiftung-engagement-und-ehrenamt.de/">DSEE (Deutsche Stiftung für Engagement und Ehrenamt)</a>,
            and is affiliated with the
            <a href="https://okfn.de/">Open Knowledge Foundation</a>.
            She previously served on the board of the
            <a href="https://digitalstrategie-deutschland.de/">Federal German Digital Strategy</a> (2022–2024)
            and on the board of the
            <a href="https://digitalservice4germany.com/">German Digital Service</a> (2020–2025).
            She is an alumna of the
            <a href="https://www.giz.de/expertise/html/8444.html">Global Leadership Academy</a>.
            From 2018–2019, she was a Fellow at the
            <a href="https://www.mozilla.org/en-US/foundation/">Mozilla Foundation</a>.
        </p>

        <p>
            Before joining the open movement, Julia worked in political campaigning and marketing for
            <a href="http://www.platoon.org">Platoon. Cultural. Development.</a> in Berlin and
            <a href="http://wmm.com">Women Make Movies</a> in New York.
        </p>

        <p>Email: <a itemprop="email" href="mailto:mail@juliakloiber.com">mail@juliakloiber.com</a></p>

        <h3>Projects:</h3>
        <ul>
            {% for post in site.categories.projects %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a><br>
                {{ post.summary }}
            </li>
            {% endfor %}
        </ul>

        <h3>Talks:</h3>
        <ul>
            {% for post in site.categories.talks %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a><br>
                {{ post.summary }}
            </li>
            {% endfor %}
        </ul>

        <h3>Articles & Publishing:</h3>
        <ul>
            {% for post in site.categories.articles %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a><br>
                {{ post.summary }}
            </li>
            {% endfor %}
        </ul>
    </article>
</section>
